# C++ Related ignores
# Cmake build folder
*/build/

# Cmake stores binaries here
*/bin

# Python related ignores
__pycache__/
*/venv

# VS code related ignores
.vscode/
.env

# Diagram / info related ignores
info_files/*.png
info_files/~$*.docx